* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffccd5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    position: relative;
    width: 80%;
    max-width: 800px;
    transition: transform 0.5s ease-in-out;
}

.love-letter {
    position: relative;
    z-index: 1;
}

.title {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
}

.subtitle {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-style: italic;
    color: #ffb6c1;
}

.photo-container {
    margin-bottom: 20px;
}

.photo {
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    width: 250px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.photo:hover {
    transform: scale(1.1);
}

.message {
    font-size: 1.5em;
    font-weight: normal;
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.5;
}

.music-player {
    margin-top: 20px;
}

audio {
    width: 100%;
    border-radius: 5px;
}

.volume-control {
    margin-top: 10px;
}

input[type="range"] {
    width: 100%;
    margin-top: 5px;
    background-color: #ffb6c1;
    border-radius: 5px;
}

input[type="range"]:hover {
    background-color: #ff99a1;
}
